@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed.eot');
    src: url('../fonts/RobotoCondensed.eot') format('embedded-opentype'),
         url('../fonts/RobotoCondensed.woff2') format('woff2'),
         url('../fonts/RobotoCondensed.woff') format('woff'),
         url('../fonts/RobotoCondensed.ttf') format('truetype'),
         url('../fonts/RobotoCondensed.svg#RobotoCondensed') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedBold';
    src: url('../fonts/RobotoCondensedBoldBold.eot');
    src: url('../fonts/RobotoCondensedBold.eot') format('embedded-opentype'),
         url('../fonts/RobotoCondensedBold.woff2') format('woff2'),
         url('../fonts/RobotoCondensedBold.woff') format('woff'),
         url('../fonts/RobotoCondensedBold.ttf') format('truetype'),
         url('../fonts/RobotoCondensedBold.svg#RobotoCondensedBold') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedBoldItalic';
    src: url('../fonts/RobotoCondensedBoldItalic.eot');
    src: url('../fonts/RobotoCondensedBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/RobotoCondensedBoldItalic.woff2') format('woff2'),
         url('../fonts/RobotoCondensedBoldItalic.woff') format('woff'),
         url('../fonts/RobotoCondensedBoldItalic.ttf') format('truetype'),
         url('../fonts/RobotoCondensedBoldItalic.svg#RobotoCondensedBoldItalic') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedItalic';
    src: url('../fonts/RobotoCondensedItalic.eot');
    src: url('../fonts/RobotoCondensedItalic.eot') format('embedded-opentype'),
         url('../fonts/RobotoCondensedItalic.woff2') format('woff2'),
         url('../fonts/RobotoCondensedItalic.woff') format('woff'),
         url('../fonts/RobotoCondensedItalic.ttf') format('truetype'),
         url('../fonts/RobotoCondensedItalic.svg#RobotoCondensedItalic') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedItalic';
    src: url('../fonts/RobotoCondensedItalic.eot');
    src: url('../fonts/RobotoCondensedItalic.eot') format('embedded-opentype'),
         url('../fonts/RobotoCondensedItalic.woff2') format('woff2'),
         url('../fonts/RobotoCondensedItalic.woff') format('woff'),
         url('../fonts/RobotoCondensedItalic.ttf') format('truetype'),
         url('../fonts/RobotoCondensedItalic.svg#RobotoCondensedItalic') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('../fonts/RobotoCondensedRegular.eot');
    src: url('../fonts/RobotoCondensedRegular.eot') format('embedded-opentype'),	
         url('../fonts/RobotoCondensedRegular.woff2') format('woff2'),
         url('../fonts/RobotoCondensedRegular.woff') format('woff'),
         url('../fonts/RobotoCondensedRegular.ttf') format('truetype'),
         url('../fonts/RobotoCondensedRegular.svg#RobotoCondensedRegular') format('svg');
}

.container{
    float: left;
    width: 100%;
}
	.content{
		position:relative;
		width:92%;
		max-width:1180px;
		height:auto;
		display:inline-block;
	}
		.content.paddingPadrao{
			padding:40px 0;
		}

.clear{
    clear: both;
}
.clearfix:after{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.clear10{
	float:left;
	width:100%;
	height:10px;
	display:block;
}
.clear20{
	float:left;
	width:100%;
	height:20px;
	display:block;
}

.texto p,
.texto{
	text-align:left;
	font-size:0.8em;
	line-height:1.75em;
	color:#727272;
}
	.texto a{
		color:#0088C4;
	}
		.texto a:hover{text-decoration:underline;}
.fontzero,
.fontzero *{font-size:0 !important;}

.modal-open{overflow: hidden;}

.btPadrao{
	padding: 12px 25px;
	border-radius:20px;
		-webkit-border-radius:20px;
		-moz-border-radius:20px;
		-o-border-radius:20px;
	display:inline-block;
		
	font-family:OpenSans;
	color:#ca4a7e;
	font-size:1em;
	text-align: center;
}
	.btPadrao.branco{background-color:#FFF;}
		.btPadrao.branco:hover{background-color:#ecc1d6; color: #FFF;}
	.btPadrao.transparente{
		background-color:transparent;
		border:1px solid #ecc1d6;
		color:#FFF;
	}
		.btPadrao.transparente:hover{background-color:#ecc1d6;}
	.btPadrao.rosa{background-color:#ca4a7e;color: #FFF;}
		.btPadrao.rosa:hover{background-color:#b73e6f;color: #FFF;}

/* FORMs */
.inputPadrao{
    padding: 8px 5px;
    border: 3px solid #c4d1d5;
    border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
    font-size: 1em;
	display: inline-block;
    color: #00AAC7;
}
	.inputPeq{width:142px;}
	.inputMed{width:222px;}
	.inputGra{width:302px;}
		
h1{font-size:1.7em;}
h2{font-size:1.5em;}
h3{font-size:1.1em;}

h2.title{
	text-align:left;
	color:#000;
	font-size:1.25em;
}
	h2.titleP{font-size:0.875em;}
	h2.title a{
		margin-left:20px;
		display:inline-block;
		color:#000;
		font-size:1.25em;
	}
		h2.titleP a{font-size:0.875em;}
		h2.title a:hover{color:#000;}


/************
	SITE
*************/
.icon{
	height:30px;
	width:30px;
}
#bgTopo{
	width:100%;
	display:inline-block;
	background-color: #FFF;
}
	#bgTopo .left{
		float:left;
		width:25%;
	}
		#bgTopo .left .logo{
			width:100%;
			display:inline-block;
			padding: 15px 60px;
		}
			#bgTopo .left .logo img{}

	#bgTopo .center{
		float:left;
		width:50%;
		margin-top:5%;
		text-align:center;
	}
		#bgTopo .center .nav{
			width:100%;
			display:inline-block;
		}
			#bgTopo .center .nav ul{
				display:inline-block;
			}
				#bgTopo .center .nav ul li{
					display:inline-block;
					padding-left:25px;
				}
					#bgTopo .center .nav ul li a:hover{
						border-bottom:2px solid #727272;
						padding-bottom: 10px;
						color:#f77e2d;
					}
					#bgTopo .center .nav ul li a{
						font-size:16px;
						font-family: RobotoCondensedRegular;
						color: #c8c9c9;
					}
	#bgTopo .right{
		float: left;
		width:25%;
		margin-top:52px;
	}
		#bgTopo .right .login{
			float: right;
		}

#bgMain{}
#bgMain .nutrition{
	background:url('../img/banner2.png') center;
	height:184px;
}






@media (min-width: 350px){}
@media (min-width: 440px){}
@media (min-width: 480px){}
@media (min-width: 592px){}
@media (min-width: 650px){}
@media (min-width: 768px){}
@media (min-width: 840px){}
@media (min-width: 960px){}
@media (min-width: 1040px){}
@media (min-width: 1280px){}
@media (min-width: 1366px){}