.boxAlimento {
   clear: both;
   width: 100%;
   border-bottom: 1px dotted #999;
   padding-bottom: 5px;
   text-align: center;
}

.boxAlimento p {
   margin-left: 20px;
   margin-top: 0px;
   padding-top: 0px;
   font-size: 16px;
   font-weight: bold; 
}

.boxInformacaoAlimento {
   clear: both;
   display: flex;
   justify-content: space-around;
}

.boxInformacaoAlimento {
   text-align: center;
   font-size: 12px;
}

#containerDietaAtiva {
   width: 700px;
   margin-top: 30px;
   margin-left: 30px;
   
}

#boxCarregando {
   display: none;
}

#boxCalendario {
   max-width: 900px;
   margin: 0 auto;
}

#containerModal .modal-dialog {
   width: 800px;
}

.boxFormAlimentacao {
   height: 50px;
   margin-bottom: 5px;
   border-bottom: 1px dotted #CCC;
}

.boxFormAlimentacao input, select, .iconRemover {
   float: left;
}

.boxFormAlimentacao .texAlimento {
   width: 400px;
}

.boxFormAlimentacao .texQuantidade {
   width: 100px;
   margin-left: 10px;
}

.boxFormAlimentacao .cmbTurno {
   width: 150px;
   margin-left: 10px;
}

.boxFormAlimentacao .iconRemover {
   font-size: 20px;
   margin-left: 10px;
   margin-top: 5px;
   cursor: pointer;
   color: #AAA;
}

.boxFormAlimentacao .iconRemover:hover {
   color: #883333;
}