.containerNoticias {
   float: left;
   width: 700px;
   clear: both;
   margin-top: 15px;
}

.containerNoticias img {
   width: auto;
   height: auto;
   max-width: 700px;
   max-height: 400px;
}