.clientes{
    display: inline-block;
    width: calc(100% - 65px);
}
    .clientes #clientes{
        width:100%;
        display:inline-block; 
    }
        .clientes .title{
          padding:15px;
        }
        .clientes .box{
          padding:15px;
        }
            .clientes .box .table{}
                .clientes .box .table .thead{
                  background-color:#dedede;
                }
                    .clientes .box .table .thead .tr{
                      background-color:#ababab;
                    } 
                .clientes .box .table .tbody{}
                    .clientes .box .table .tbody tr{}
                        .clientes .box .table .tbody tr td{}
                          .clientes .box .table .tbody tr td a{
                            display:inline-block;
                          }
                            .clientes .box .table .tbody tr td a img{
                              height:15px;
                              padding-left:12px;
                            }

.boxLabelDietaAtiva {
   width: 100px;
}

.lblDieta {
   float: left;
   margin-top: 8px;
}

.boxAlimento {
   clear: both;
   width: 100%;
   border-bottom: 1px dotted #999;
   padding-bottom: 5px;
   text-align: center;
}

.boxAlimento p {
   margin-left: 20px;
   margin-top: 0px;
   padding-top: 0px;
   font-size: 16px;
   font-weight: bold; 
}

.boxInformacaoAlimento {
   clear: both;
   display: flex;
   justify-content: space-around;
}

.boxInformacaoAlimento {
   text-align: center;
   font-size: 12px;
}

#containerDietaAtiva {
   width: 700px;
   margin-top: 30px;
   margin-left: 30px;
   
}
>>>>>>> 87cbc8b3ee8cc6cf41b1634ec5b04e1011de8ba6
