.boxLabelDietaAtiva {
   width: 100px;
}

.lblDieta {
   float: left;
   margin-top: 8px;
}

.boxAlimento {
   clear: both;
   width: 100%;
   border-bottom: 1px dotted #999;
   padding-bottom: 5px;
   text-align: center;
}

.boxAlimento p {
   margin-left: 20px;
   margin-top: 0px;
   padding-top: 0px;
   font-size: 16px;
   font-weight: bold; 
}

.boxInformacaoAlimento {
   clear: both;
   display: flex;
   justify-content: space-around;
}

.boxInformacaoAlimento {
   text-align: center;
   font-size: 12px;
}

#containerDietaAtiva {
   width: 700px;
   margin-top: 30px;
   margin-left: 30px;
   
}